<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.sharehome.springbootinittemplate.mapper.ChartMapper">
    <resultMap id="BaseResultMap" type="top.sharehome.springbootinittemplate.model.entity.Chart">
        <!--@mbg.generated-->
        <!--@Table ai_bi.t_chart-->
        <id column="chart_id" jdbcType="BIGINT" property="id"/>
        <result column="chart_name" jdbcType="VARCHAR" property="name"/>
        <result column="chart_goal" jdbcType="LONGVARCHAR" property="goal"/>
        <result column="chart_data" jdbcType="LONGVARCHAR" property="data"/>
        <result column="chart_type" jdbcType="VARCHAR" property="type"/>
        <result column="chart_gen_chart" jdbcType="LONGVARCHAR" property="genChart"/>
        <result column="chart_gen_result" jdbcType="LONGVARCHAR" property="genResult"/>
        <result column="chart_user_id" jdbcType="BIGINT" property="userId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="is_deleted" jdbcType="TINYINT" property="isDeleted"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        chart_id,
        chart_name,
        chart_goal,
        chart_data,
        chart_type,
        chart_gen_chart,
        chart_gen_result,
        chart_user_id,
        create_time,
        update_time,
        is_deleted
    </sql>
</mapper>